.container-card{
    width: 100%;
    display:flex;
}

.card{
    width:49%;
    height: 250px;
    background-color: goldenrod;
    background-size: cover;
    margin-bottom: 1%;
    margin-left: 1%;    
    float:left;
    overflow-y: hidden;
    cursor: pointer;
        transition: 
            box-shadow 1s 0s;
}

.titulo{
    color:white;
    margin: 180px 0px 0px 40px;
    font-size: 30px;
    transition: 
        margin-top 1s 0s;
}

.descricao{
    opacity:0;
    color:white;
    margin: 0px 5px 0px 50px;
    font-size: 20px;
    transition: 
        opacity 1s 0s;
}

.card:hover{
    box-shadow: inset 0px -30px 80px -15px  black;
}

.card:hover .titulo{
    margin-top:100px;
}

.card:hover .descricao{
    opacity:1;  
}