.box{
    height: 250px;
    width: 45%;
    float: left;
    margin:1%;
    background-color: sandybrown;  
    cursor: pointer;      
}

.titulo{
    margin-top:70px;
    margin-left: 20px;
    color:white;
    font-size:32px;
}

.descricao{
    margin-left: 20px;
    color:white;
    font-size:20px;
}

.box:hover{
    box-shadow: inset 0px -30px 80px -15px  black;
}
