<header>
    <div id="cabecalho1"></div>
    <nav id="cabecalho2">
        <ul class="menu">
            <li><a routerLink="narnianos" routerLinkActive="ativo" class="botao">Narnianos</a></li>
            <li><a routerLink="humanos" routerLinkActive="ativo" class="botao">Humanos</a></li>
            <li><a routerLink="cidades" routerLinkActive="ativo" class="botao">Cidades</a></li>
            <li><a routerLink="reis" routerLinkActive="ativo" class="botao">Reis de Nárnia</a></li>
            <li><a routerLink="reis" routerLinkActive="ativo" class="botao">Aslam</a></li>
        </ul>          
    </nav>
</header>