
#cabecalho1{
    height: 20px;
    background-color: orange;
    padding: 10px;
    padding-left: 250px;
    color:white;
}
#cabecalho2{

    height: 50px;
    background-color: black;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 18px;
    text-align: center;
    
}
a{
    text-decoration: none;
}

ul, li{
    display: inline;
    list-style: none;
}

.botao {
    font-size: 25px;
    margin-left: 5%;
    margin-right: 5%;
    height: 40px;
    padding: 5px;
    color:white;
    border: none;
         
}

.botao:hover{
    border-bottom: 3px solid orange;
}

.ativo {
    border-bottom: 3px solid orange;
}