/* You can add global styles to this file, and also import other style files */
*{
    margin: 0px;
}

.content{
    padding: 40px 250px 40px 250px;
    background-color: #303030;      
    overflow:hidden;
}